body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #f7f7f7;
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    color: #333;
}

header p {
    font-size: 18px;
    color: #666;
}

.button {
    background-color: #4f46e5; /* Primary color */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.gallery {
    text-align: center;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    position: relative;
    bottom: 0;
    width: 100%;
}

#cartModal {
    display: none; /* Hidden by default */
}

#cartModal.active {
    display: block; /* Show when active */
}